{
  "openapi" : "3.0.2",
  "info" : {
    "title" : "PIA JSON Data API",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://data.participatory-archives.ch/api/v1"
  } ],
  "paths" : {
    "/agents" : {
      "get" : {
        "description" : "List Agents",
        "operationId" : "listAgents",
        "parameters" : [ {
          "description" : "How many results should load per page",
          "explode" : true,
          "in" : "query",
          "name" : "page[size]",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Which page of the pagination should be displayed",
          "explode" : true,
          "in" : "query",
          "name" : "page[number]",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/listAgents_200_response"
                }
              }
            },
            "description" : "A list of agents"
          }
        },
        "tags" : [ "agents" ]
      }
    },
    "/agents/{id}" : {
      "get" : {
        "description" : "View Agent",
        "operationId" : "getAgent",
        "parameters" : [ {
          "description" : "the agent id",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAgent_200_response"
                }
              }
            },
            "description" : "Returns single agent"
          }
        },
        "tags" : [ "agents" ]
      }
    },
    "/albums" : {
      "get" : {
        "description" : "List Albums",
        "operationId" : "listAlbums",
        "parameters" : [ {
          "description" : "How many results should load per page",
          "explode" : true,
          "in" : "query",
          "name" : "page[size]",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Which page of the pagination should be displayed",
          "explode" : true,
          "in" : "query",
          "name" : "page[number]",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/listAlbums_200_response"
                }
              }
            },
            "description" : "A list of albums"
          }
        },
        "tags" : [ "albums" ]
      }
    },
    "/albums/{id}" : {
      "get" : {
        "description" : "View Album",
        "operationId" : "getAlbum",
        "parameters" : [ {
          "description" : "the agent id",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getAlbum_200_response"
                }
              }
            },
            "description" : "Returns single album"
          }
        },
        "tags" : [ "albums" ]
      }
    },
    "/collections" : {
      "get" : {
        "description" : "List Collections",
        "operationId" : "listCollections",
        "parameters" : [ {
          "description" : "How many results should load per page",
          "explode" : true,
          "in" : "query",
          "name" : "page[size]",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Which page of the pagination should be displayed",
          "explode" : true,
          "in" : "query",
          "name" : "page[number]",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/listCollections_200_response"
                }
              }
            },
            "description" : "A list of collections"
          }
        },
        "tags" : [ "collections" ]
      }
    },
    "/collections/{id}" : {
      "get" : {
        "description" : "View collection",
        "operationId" : "getCollection",
        "parameters" : [ {
          "description" : "the agent id",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getCollection_200_response"
                }
              }
            },
            "description" : "Returns single collection"
          }
        },
        "tags" : [ "collections" ]
      }
    },
    "/comments" : {
      "get" : {
        "description" : "List comments",
        "operationId" : "listComments",
        "parameters" : [ {
          "description" : "How many results should load per page",
          "explode" : true,
          "in" : "query",
          "name" : "page[size]",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Which page of the pagination should be displayed",
          "explode" : true,
          "in" : "query",
          "name" : "page[number]",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/listComments_200_response"
                }
              }
            },
            "description" : "A list of collections"
          }
        },
        "tags" : [ "comments" ]
      }
    },
    "/comments/{id}" : {
      "get" : {
        "description" : "View comment",
        "operationId" : "getComment",
        "parameters" : [ {
          "description" : "the agent id",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getComment_200_response"
                }
              }
            },
            "description" : "Returns single comment"
          }
        },
        "tags" : [ "comments" ]
      }
    },
    "/documents" : {
      "get" : {
        "description" : "List documents",
        "operationId" : "listDocuments",
        "parameters" : [ {
          "description" : "How many results should load per page",
          "explode" : true,
          "in" : "query",
          "name" : "page[size]",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Which page of the pagination should be displayed",
          "explode" : true,
          "in" : "query",
          "name" : "page[number]",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/listDocuments_200_response"
                }
              }
            },
            "description" : "A list of collections"
          }
        },
        "tags" : [ "documents" ]
      }
    },
    "/documents/{id}" : {
      "get" : {
        "description" : "View document",
        "operationId" : "getDocument",
        "parameters" : [ {
          "description" : "the agent id",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getDocument_200_response"
                }
              }
            },
            "description" : "Returns single comment"
          }
        },
        "tags" : [ "documents" ]
      }
    },
    "/places" : {
      "get" : {
        "description" : "List Places",
        "operationId" : "listPlaces",
        "parameters" : [ {
          "description" : "How many results should load per page",
          "explode" : true,
          "in" : "query",
          "name" : "page[size]",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Which page of the pagination should be displayed",
          "explode" : true,
          "in" : "query",
          "name" : "page[number]",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/listPlaces_200_response"
                }
              }
            },
            "description" : "A list of places"
          }
        },
        "tags" : [ "places" ]
      }
    },
    "/places/{id}" : {
      "get" : {
        "description" : "View Place",
        "operationId" : "getPlace",
        "parameters" : [ {
          "description" : "the agent id",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/getPlace_200_response"
                }
              }
            },
            "description" : "Returns single place"
          }
        },
        "tags" : [ "places" ]
      }
    }
  },
  "components" : {
    "parameters" : {
      "page_size" : {
        "description" : "How many results should load per page",
        "explode" : true,
        "in" : "query",
        "name" : "page[size]",
        "required" : false,
        "schema" : {
          "minimum" : 0,
          "type" : "integer"
        },
        "style" : "form"
      },
      "page_number" : {
        "description" : "Which page of the pagination should be displayed",
        "explode" : true,
        "in" : "query",
        "name" : "page[number]",
        "required" : false,
        "schema" : {
          "minimum" : 0,
          "type" : "integer"
        },
        "style" : "form"
      },
      "item_id" : {
        "description" : "the agent id",
        "explode" : false,
        "in" : "path",
        "name" : "id",
        "required" : true,
        "schema" : {
          "type" : "string"
        },
        "style" : "simple"
      }
    },
    "schemas" : {
      "jsonapi" : {
        "additionalProperties" : false,
        "description" : "The server's implementation",
        "properties" : {
          "version" : {
            "type" : "string"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "type" : "object"
      },
      "resource" : {
        "additionalProperties" : false,
        "properties" : {
          "type" : {
            "$ref" : "#/components/schemas/type"
          },
          "id" : {
            "$ref" : "#/components/schemas/id"
          },
          "attributes" : {
            "type" : "object"
          },
          "relationships" : {
            "type" : "object"
          },
          "links" : {
            "$ref" : "#/components/schemas/links"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "required" : [ "id", "type" ],
        "type" : "object"
      },
      "link" : {
        "oneOf" : [ {
          "description" : "a string containing the link's URL",
          "format" : "uri-reference",
          "type" : "string"
        }, {
          "$ref" : "#/components/schemas/link_oneOf"
        } ]
      },
      "links" : {
        "additionalProperties" : {
          "$ref" : "#/components/schemas/link"
        },
        "type" : "object"
      },
      "reltoone" : {
        "description" : "a singular 'to-one' relationship",
        "properties" : {
          "links" : {
            "$ref" : "#/components/schemas/relationshipLinks"
          }
        },
        "type" : "object"
      },
      "relationshipToOne" : {
        "anyOf" : [ {
          "$ref" : "#/components/schemas/nulltype"
        }, {
          "$ref" : "#/components/schemas/linkage"
        } ],
        "description" : "reference to other resource in a to-one relationship"
      },
      "reltomany" : {
        "description" : "a multiple 'to-many' relationship",
        "properties" : {
          "links" : {
            "$ref" : "#/components/schemas/relationshipLinks"
          }
        },
        "type" : "object"
      },
      "relationshipLinks" : {
        "description" : "optional references to other resource objects",
        "properties" : {
          "self" : {
            "$ref" : "#/components/schemas/link"
          },
          "related" : {
            "$ref" : "#/components/schemas/link"
          }
        },
        "type" : "object"
      },
      "relationshipToMany" : {
        "description" : "An array of objects each containing the 'type' and 'id' for to-many relationships",
        "items" : {
          "$ref" : "#/components/schemas/linkage"
        },
        "type" : "array",
        "uniqueItems" : true
      },
      "linkage" : {
        "description" : "the 'type' and 'id'",
        "properties" : {
          "type" : {
            "$ref" : "#/components/schemas/type"
          },
          "id" : {
            "$ref" : "#/components/schemas/id"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "required" : [ "id", "type" ],
        "type" : "object"
      },
      "pagination" : {
        "properties" : {
          "currentPage" : {
            "$ref" : "#/components/schemas/pageref"
          },
          "from" : {
            "$ref" : "#/components/schemas/pageref"
          },
          "lastPage" : {
            "$ref" : "#/components/schemas/pageref"
          },
          "perPage" : {
            "$ref" : "#/components/schemas/pageref"
          },
          "to" : {
            "$ref" : "#/components/schemas/pageref"
          },
          "total" : {
            "$ref" : "#/components/schemas/pageref"
          }
        },
        "type" : "object"
      },
      "pageref" : {
        "type" : "integer"
      },
      "meta" : {
        "additionalProperties" : true,
        "type" : "object"
      },
      "nulltype" : {
        "nullable" : true,
        "type" : "string"
      },
      "type" : {
        "description" : "The [type](https://jsonapi.org/format/#document-resource-object-identification) is used to describe resource objects that share common attributes and relationships.",
        "type" : "string"
      },
      "id" : {
        "description" : "Each resource object’s type and id pair MUST [identify](https://jsonapi.org/format/#document-resource-object-identification) a single, unique resource.",
        "type" : "string"
      },
      "Agent" : {
        "properties" : {
          "type" : {
            "$ref" : "#/components/schemas/type"
          },
          "id" : {
            "$ref" : "#/components/schemas/id"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/Agent_attributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/Agent_relationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/getAgent_200_response_links"
          }
        },
        "type" : "object"
      },
      "Album" : {
        "properties" : {
          "type" : {
            "$ref" : "#/components/schemas/type"
          },
          "id" : {
            "$ref" : "#/components/schemas/id"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/Album_attributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/Album_relationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/getAgent_200_response_links"
          }
        },
        "type" : "object"
      },
      "Collection" : {
        "properties" : {
          "type" : {
            "$ref" : "#/components/schemas/type"
          },
          "id" : {
            "$ref" : "#/components/schemas/id"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/Collection_attributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/Collection_relationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/getAgent_200_response_links"
          }
        },
        "type" : "object"
      },
      "Comment" : {
        "properties" : {
          "type" : {
            "$ref" : "#/components/schemas/type"
          },
          "id" : {
            "$ref" : "#/components/schemas/id"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/Comment_attributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/Comment_relationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/getAgent_200_response_links"
          }
        },
        "type" : "object"
      },
      "Document" : {
        "properties" : {
          "type" : {
            "$ref" : "#/components/schemas/type"
          },
          "id" : {
            "$ref" : "#/components/schemas/id"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/Document_attributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/Document_relationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/getAgent_200_response_links"
          }
        },
        "type" : "object"
      },
      "Place" : {
        "properties" : {
          "type" : {
            "$ref" : "#/components/schemas/type"
          },
          "id" : {
            "$ref" : "#/components/schemas/id"
          },
          "attributes" : {
            "$ref" : "#/components/schemas/Place_attributes"
          },
          "relationships" : {
            "$ref" : "#/components/schemas/Place_relationships"
          },
          "links" : {
            "$ref" : "#/components/schemas/getAgent_200_response_links"
          }
        },
        "type" : "object"
      },
      "listAgents_200_response" : {
        "properties" : {
          "jsonapi" : {
            "$ref" : "#/components/schemas/jsonapi"
          },
          "links" : {
            "$ref" : "#/components/schemas/pagination"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Agent"
            },
            "type" : "array"
          },
          "included" : {
            "items" : {
              "$ref" : "#/components/schemas/resource"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        },
        "type" : "object"
      },
      "getAgent_200_response_links" : {
        "properties" : {
          "self" : {
            "$ref" : "#/components/schemas/link"
          }
        },
        "type" : "object"
      },
      "getAgent_200_response" : {
        "properties" : {
          "jsonapi" : {
            "$ref" : "#/components/schemas/jsonapi"
          },
          "links" : {
            "$ref" : "#/components/schemas/getAgent_200_response_links"
          },
          "data" : {
            "$ref" : "#/components/schemas/Agent"
          },
          "included" : {
            "items" : {
              "$ref" : "#/components/schemas/resource"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        },
        "type" : "object"
      },
      "listAlbums_200_response" : {
        "properties" : {
          "jsonapi" : {
            "$ref" : "#/components/schemas/jsonapi"
          },
          "links" : {
            "$ref" : "#/components/schemas/pagination"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Album"
            },
            "type" : "array"
          },
          "included" : {
            "items" : {
              "$ref" : "#/components/schemas/resource"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        },
        "type" : "object"
      },
      "getAlbum_200_response" : {
        "properties" : {
          "jsonapi" : {
            "$ref" : "#/components/schemas/jsonapi"
          },
          "links" : {
            "$ref" : "#/components/schemas/getAgent_200_response_links"
          },
          "data" : {
            "$ref" : "#/components/schemas/Album"
          },
          "included" : {
            "items" : {
              "$ref" : "#/components/schemas/resource"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        },
        "type" : "object"
      },
      "listCollections_200_response" : {
        "properties" : {
          "jsonapi" : {
            "$ref" : "#/components/schemas/jsonapi"
          },
          "links" : {
            "$ref" : "#/components/schemas/pagination"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Collection"
            },
            "type" : "array"
          },
          "included" : {
            "items" : {
              "$ref" : "#/components/schemas/resource"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        },
        "type" : "object"
      },
      "getCollection_200_response" : {
        "properties" : {
          "jsonapi" : {
            "$ref" : "#/components/schemas/jsonapi"
          },
          "links" : {
            "$ref" : "#/components/schemas/getAgent_200_response_links"
          },
          "data" : {
            "$ref" : "#/components/schemas/Collection"
          },
          "included" : {
            "items" : {
              "$ref" : "#/components/schemas/resource"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        },
        "type" : "object"
      },
      "listComments_200_response" : {
        "properties" : {
          "jsonapi" : {
            "$ref" : "#/components/schemas/jsonapi"
          },
          "links" : {
            "$ref" : "#/components/schemas/pagination"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Comment"
            },
            "type" : "array"
          },
          "included" : {
            "items" : {
              "$ref" : "#/components/schemas/resource"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        },
        "type" : "object"
      },
      "getComment_200_response" : {
        "properties" : {
          "jsonapi" : {
            "$ref" : "#/components/schemas/jsonapi"
          },
          "links" : {
            "$ref" : "#/components/schemas/getAgent_200_response_links"
          },
          "data" : {
            "$ref" : "#/components/schemas/Comment"
          },
          "included" : {
            "items" : {
              "$ref" : "#/components/schemas/resource"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        },
        "type" : "object"
      },
      "listDocuments_200_response" : {
        "properties" : {
          "jsonapi" : {
            "$ref" : "#/components/schemas/jsonapi"
          },
          "links" : {
            "$ref" : "#/components/schemas/pagination"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Document"
            },
            "type" : "array"
          },
          "included" : {
            "items" : {
              "$ref" : "#/components/schemas/resource"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        },
        "type" : "object"
      },
      "getDocument_200_response" : {
        "properties" : {
          "jsonapi" : {
            "$ref" : "#/components/schemas/jsonapi"
          },
          "links" : {
            "$ref" : "#/components/schemas/getAgent_200_response_links"
          },
          "data" : {
            "$ref" : "#/components/schemas/Document"
          },
          "included" : {
            "items" : {
              "$ref" : "#/components/schemas/resource"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        },
        "type" : "object"
      },
      "listPlaces_200_response" : {
        "properties" : {
          "jsonapi" : {
            "$ref" : "#/components/schemas/jsonapi"
          },
          "links" : {
            "$ref" : "#/components/schemas/pagination"
          },
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/Place"
            },
            "type" : "array"
          },
          "included" : {
            "items" : {
              "$ref" : "#/components/schemas/resource"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        },
        "type" : "object"
      },
      "getPlace_200_response" : {
        "properties" : {
          "jsonapi" : {
            "$ref" : "#/components/schemas/jsonapi"
          },
          "links" : {
            "$ref" : "#/components/schemas/getAgent_200_response_links"
          },
          "data" : {
            "$ref" : "#/components/schemas/Place"
          },
          "included" : {
            "items" : {
              "$ref" : "#/components/schemas/resource"
            },
            "type" : "array",
            "uniqueItems" : true
          }
        },
        "type" : "object"
      },
      "link_oneOf" : {
        "properties" : {
          "href" : {
            "description" : "a string containing the link's URL",
            "format" : "uri-reference",
            "type" : "string"
          },
          "meta" : {
            "$ref" : "#/components/schemas/meta"
          }
        },
        "required" : [ "href" ],
        "type" : "object"
      },
      "Agent_attributes" : {
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "title" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "family" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          }
        },
        "title" : "Agent attributes",
        "type" : "object"
      },
      "Agent_relationships" : {
        "properties" : {
          "birthdate" : {
            "$ref" : "#/components/schemas/reltoone"
          },
          "birthplace" : {
            "$ref" : "#/components/schemas/reltoone"
          },
          "deathdate" : {
            "$ref" : "#/components/schemas/reltoone"
          },
          "deathplace" : {
            "$ref" : "#/components/schemas/reltoone"
          },
          "images" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "albums" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "collections" : {
            "$ref" : "#/components/schemas/reltomany"
          }
        },
        "title" : "Agent relationships",
        "type" : "object"
      },
      "Album_attributes" : {
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "title" : {
            "type" : "string"
          },
          "label" : {
            "type" : "string"
          },
          "signature" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          }
        },
        "title" : "Album attributes",
        "type" : "object"
      },
      "Album_relationships" : {
        "properties" : {
          "date" : {
            "$ref" : "#/components/schemas/reltoone"
          },
          "images" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "collections" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "comments" : {
            "$ref" : "#/components/schemas/reltomany"
          }
        },
        "title" : "Album relationships",
        "type" : "object"
      },
      "Collection_attributes" : {
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "label" : {
            "type" : "string"
          },
          "signature" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "creator" : {
            "type" : "string"
          },
          "origin" : {
            "type" : "string"
          }
        },
        "title" : "Collection attributes",
        "type" : "object"
      },
      "Collection_relationships" : {
        "properties" : {
          "altLabels" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "date" : {
            "$ref" : "#/components/schemas/reltoone"
          },
          "agents" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "literatures" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "comments" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "images" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "documents" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "notes" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "maps" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "calls" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "keywords" : {
            "$ref" : "#/components/schemas/reltomany"
          }
        },
        "title" : "Collection relationships",
        "type" : "object"
      },
      "Comment_attributes" : {
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "comment" : {
            "type" : "string"
          }
        },
        "title" : "Comment attributes",
        "type" : "object"
      },
      "Comment_relationships" : {
        "properties" : {
          "image" : {
            "$ref" : "#/components/schemas/reltoone"
          },
          "collection" : {
            "$ref" : "#/components/schemas/reltoone"
          },
          "album" : {
            "$ref" : "#/components/schemas/reltoone"
          },
          "agent" : {
            "$ref" : "#/components/schemas/reltoone"
          }
        },
        "title" : "Comment relationships",
        "type" : "object"
      },
      "Document_attributes" : {
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "label" : {
            "type" : "string"
          },
          "comment" : {
            "type" : "string"
          },
          "file_name" : {
            "type" : "string"
          },
          "original_file_name" : {
            "type" : "string"
          },
          "base_path" : {
            "type" : "string"
          }
        },
        "title" : "Document attributes",
        "type" : "object"
      },
      "Document_relationships" : {
        "properties" : {
          "aggregations" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "collections" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "maps" : {
            "$ref" : "#/components/schemas/reltomany"
          },
          "map-entries" : {
            "$ref" : "#/components/schemas/reltomany"
          }
        },
        "title" : "Document relationships",
        "type" : "object"
      },
      "Place_attributes" : {
        "properties" : {
          "id" : {
            "type" : "integer"
          },
          "label" : {
            "type" : "string"
          },
          "origin" : {
            "type" : "string"
          },
          "geometry" : {
            "type" : "string"
          },
          "latitude" : {
            "format" : "float",
            "type" : "number"
          },
          "longitude" : {
            "format" : "float",
            "type" : "number"
          },
          "geoname_id" : {
            "type" : "string"
          },
          "geoname_url" : {
            "type" : "string"
          },
          "geoname_code" : {
            "type" : "string"
          },
          "geoname_code_name" : {
            "type" : "string"
          },
          "geonames_division_level" : {
            "type" : "string"
          },
          "wiki_uri" : {
            "type" : "string"
          }
        },
        "title" : "Place attributes",
        "type" : "object"
      },
      "Place_relationships" : {
        "properties" : {
          "images" : {
            "$ref" : "#/components/schemas/reltomany"
          }
        },
        "title" : "Place relationships",
        "type" : "object"
      }
    }
  },
  "x-tagGroups" : [ {
    "name" : "Routes",
    "tags" : [ "agents" ]
  } ]
}